<launch>

    <!-- Start the Bebop Action Server -->
  <node name="bebop_action_server" pkg="bebop_controller" type="BebopActionServer.py" output="screen" ns="/bebop"/>

  <!-- Start the Bebop Teleoperation Window -->
  <node name="bebop_teleop" pkg="bebop_controller" type="teleop.py" output="screen" ns="/bebop"/>
</launch>
