<launch>
  <!-- Start the Coordinator -->
  <node pkg="coordinator" type="main.py" name="coordinator" output="screen">
  <param name="coordinate_frame" type="string" value="map" />
  </node>

  <!-- Start the World state node -->
  <node pkg="coordinator" type="world_state.py" name="world_state" output="screen">
  	<param name="use_rosplan" type="boolean" value="True" />
  	<param name="world_config_file" type="string" value="$(find coordinator)/config/$(optenv PLANNER_WORLD lth_robotlab.yaml)" />
  </node>

  <include file="$(find coordinator)/launch/minimal_planner.launch">
  </include>


</launch>
