[submodule "bebop_autonomy"]
	path = bebop_autonomy
	url = https://github.com/AutonomyLab/bebop_autonomy.git
[submodule "rplidar_ros"]
	path = rplidar_ros
	url = https://github.com/robopeak/rplidar_ros.git
[submodule "multiple_bebops"]
	path = multiple_bebops
	url = https://github.com/tnaegeli/multiple_bebops.git
[submodule "actionlib"]
	path = actionlib
	url = https://github.com/ros/actionlib.git
	branch = indigo-devel
[submodule "occupancy_grid_utils"]
	path = occupancy_grid_utils
	url = https://github.com/clearpathrobotics/occupancy_grid_utils
[submodule "rosplan"]
	path = rosplan
	url = https://github.com/DavidGillsjo/ROSPlan.git
