<?xml version="1.0"?>
<launch>
  <!-- The map was made with the turtle bot starting at position -0.5,-0.5 in the gazebo world -->
  <node pkg="tf" type="static_transform_publisher" name="world_to_map" args="0.5 0.5 0 0 0 0 map world 100"/>
  <!-- Spawn simulated quadrotor uav -->
  <group ns="drone0">
    <param name="tf_prefix" value="drone0"/>
    <include file="$(find thinc_sim_gazebo)/launch/spawn_quadrotor.launch" >
      <arg name="model" value="$(find thinc_sim_gazebo)/urdf/quadrotor_sensors.urdf.xacro"/> 
     <arg name="robot_namespace" value="drone0"/>
    </include>

    <node pkg="robot_state_publisher" type="robot_state_publisher" name="drone0_st_pub" >
   <!--   <remap from="robot_description" to="different_robot_description" />
      <remap from="joint_states" to="different_joint_states" />-->
    </node>

    <node pkg="tf" type="static_transform_publisher" name="map_to_drone0" args="-1.4 -4.8 0 0 0 0 map drone0/odom 100"/>
 </group>

  <group ns="drone1">
    <param name="tf_prefix" value="drone1"/>
    <include file="$(find thinc_sim_gazebo)/launch/spawn_quadrotor.launch" >
      <arg name="model" value="$(find thinc_sim_gazebo)/urdf/quadrotor_sensors.urdf.xacro"/> 
     <arg name="robot_namespace" value="drone1"/>
     <arg name="x" default="1"/>
     <arg name="y" default="1"/>
    </include>

    <node pkg="robot_state_publisher" type="robot_state_publisher" name="drone1_st_pub" >
   <!--   <remap from="robot_description" to="different_robot_description" />
      <remap from="joint_states" to="different_joint_states" />-->
    </node>

    <node pkg="tf" type="static_transform_publisher" name="map_to_drone1" args="-1.8 -4.8 0 0 0 0 map drone1/odom 100"/>
  </group>

</launch>
