<launch>

  <arg name="rectnamespace" value="/bebop" />
<!--  <include file="$(find world)/launch/start_rectify.launch"/>
  <include file="$(find world)/launch/start_crop.launch"/>-->
  <include file="$(find world)/launch/start_april_tags.launch"/>
  <include file="$(find world)/launch/start_transform.launch"/>
  <include file="$(find world)/launch/start_landmark_detect.launch"/>
  <include file="$(find world)/launch/start_people_detect.launch"/>
</launch>
